.boardContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
  margin: 0 0 16px;
}

.boardWrapper {
  padding: 4px;
  width: max-content;
  height: max-content;
}

.board {
  position: relative;
  padding: var(--cell-gap);
  display: grid;
  grid-template-rows: repeat(var(--board-size), var(--cell-size));
  grid-template-columns: repeat(var(--board-size), var(--cell-size));
  gap: var(--cell-gap);
  border-radius: var(--rounded-lg);
  background-color: var(--board);
}

.boardGameOver {
  opacity: 0.5;
}

@media (min-width: 1024px) {
  .boardContainer {
    margin: 52px 0 20px;
  }
}
