.boardWrapper {
  position: relative;
  width: max-content;
  height: max-content;
}

.board {
  padding: var(--cell-gap);
  display: grid;
  grid-template-rows: repeat(var(--board-size), var(--cell-size));
  grid-template-columns: repeat(var(--board-size), var(--cell-size));
  gap: var(--cell-gap);
  border-radius: var(--rounded-lg);
  background-color: var(--board);
}

.boardGameOver {
  opacity: 0.5;
}

.boardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: none;
}
