.shadow {
  position: absolute;
  z-index: 1;
  width: 110%;
  height: 110%;
  left: calc(-5% + 5px);
  top: calc(-5% + 5px);
  border-radius: var(--rounded-md);
  background: linear-gradient(
    var(--gradient-angle),
    var(--tile-shadow-01),
    var(--tile-shadow-02)
  );
  opacity: 0.4;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
